In [69]:
import pandas as pd
import ast
import numpy as np
from langdetect import detect
from googletrans import Translator
from textblob import TextBlob

In [67]:
df= pd.read_csv('NuevoReviews.csv')
df

,user_id,posted,item_id,recommend,review,texto_traducido
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,a must have classic from steam definitely wort...,a must have classic from steam definitely wort...
59301,76561198312638244,Posted July 8.,362890,True,this game is a perfect remake of the original ...,this game is a perfect remake of the original ...
59302,LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,had so much fun plaing this and collecting res...
59303,LydiaMorley,Posted July 20.,730,True,:D,:D
59304,LydiaMorley,Posted July 2.,440,True,so much fun :D,so much fun :D

In [60]:
#se elimina las columnas que no se van a usar
df = df.drop(['funny','last_edited','helpful'], axis=1)
df

,user_id,posted,item_id,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,a must have classic from steam definitely wort...
59301,76561198312638244,Posted July 8.,362890,True,this game is a perfect remake of the original ...
59302,LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,Posted July 20.,730,True,:D
59304,LydiaMorley,Posted July 2.,440,True,so much fun :D

In [61]:
df['review'].isnull().sum()

30

In [62]:
# los valores nulos en 'review' se reemplazan por cadenas de texto vacías
df['review'] = df['review'].fillna('')

In [63]:
df['review'].isnull().sum()

0

Para hacer un buen analisis de sentimientos en la columna de review primero se detecta si hay mas idiomas aparte del ingles

In [64]:
lenguajes_detectados = set()

for texto in df['review']:
    try:
        lenguaje = detect(texto)
        lenguajes_detectados.add(lenguaje)
    except:
        # En caso de que no se pueda detectar el lenguaje, continuar
        pass

# Imprimir los lenguajes detectados únicos
print("Lenguajes detectados en la columna 'review':")
for lenguaje in lenguajes_detectados:
    print(lenguaje)

Lenguajes detectados en la columna 'review':
th
pt
ar
de
cs
tr
pl
et
it
sl
ru
lt
es
nl
hu
ja
sv
af
uk
ca
da
id
tl
ta
zh-cn
sq
bg
sw
sk
vi
ko
fr
zh-tw
cy
so
ro
lv
fi
mk
en
no
hr

Se detecto multiples idiomas, por lo que se hará la traducción de la columna reviews a ingles

In [ ]:
#función translate_to_english intenta traducir el texto a inglés utilizando googletrans. Si la traducción es exitosa, 
# se agrega la traducción a una nueva columna llamada 'texto_traducido'. Si la traducción falla, simplemente se mantiene 
# el texto original.
def translate_to_english(text):
    try:
        translator = Translator()
        translated_text = translator.translate(text, src='auto', dest='en')
        return translated_text.text
    except Exception as e:
        # Si la traducción falla, simplemente retorna el texto original
        return text

# Aplica la función de traducción a la columna 'review'
df['texto_traducido'] = df['review'].apply(translate_to_english)

In [71]:
df

,user_id,posted,item_id,recommend,review,texto_traducido
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,a must have classic from steam definitely wort...,a must have classic from steam definitely wort...
59301,76561198312638244,Posted July 8.,362890,True,this game is a perfect remake of the original ...,this game is a perfect remake of the original ...
59302,LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,had so much fun plaing this and collecting res...
59303,LydiaMorley,Posted July 20.,730,True,:D,:D
59304,LydiaMorley,Posted July 2.,440,True,so much fun :D,so much fun :D

In [57]:
#df.to_csv('review_traducido.csv', index=False)

Una vez traducido se procede a hacer el analisis de sentimiento segun la escala sugerida: valor '0' si es malo, '1' si es neutral y '2' si es positivo

In [83]:
# Función para analizar el sentimiento y asignar valores según tu escala
def analyze_sentiment(text):
    analysis = TextBlob(text)
    if analysis.sentiment.polarity < 0:
        return 0  # Sentimiento negativo
    elif analysis.sentiment.polarity == 0:
        return 1  # Sentimiento neutral
    else:
        return 2  # Sentimiento positivo

# Aplicamos el análisis de sentimiento y creamos la columna 'sentiment_analysis'
df['sentiment_analysis'] = df['texto_traducido'].apply(analyze_sentiment)

# Si la reseña está ausente, asignamos el valor 1 (neutral) como predeterminado
df['sentiment_analysis'].fillna(1, inplace=True)

In [88]:
df

,user_id,posted,item_id,recommend,review,texto_traducido,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,Simple yet with great replayability. In my opi...,2
1,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,It's unique and worth a playthrough.,2
2,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,Great atmosphere. The gunplay can be a bit chu...,2
3,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,I know what you think when you see this title ...,2
4,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,For a simple (it's actually not all that simpl...,0
...,...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,a must have classic from steam definitely wort...,a must have classic from steam definitely wort...,2
59301,76561198312638244,Posted July 8.,362890,True,this game is a perfect remake of the original ...,this game is a perfect remake of the original ...,2
59302,LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,had so much fun plaing this and collecting res...,2
59303,LydiaMorley,Posted July 20.,730,True,:D,:D,2
59304,LydiaMorley,Posted July 2.,440,True,so much fun :D,so much fun :D,2

In [85]:
#df.to_csv('reviews_sentyment.csv', index=False)

una vez hecho el analisis de sentimiento se borra las clumnas review y texto_traducido

In [93]:
# Borro las columnas que ya no necesito
df=df.drop(['review','texto_traducido'], axis=1)
df

,user_id,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,True,2
1,76561197970982479,"Posted July 15, 2011.",22200,True,2
2,76561197970982479,"Posted April 21, 2011.",43110,True,2
3,js41637,"Posted June 24, 2014.",251610,True,2
4,js41637,"Posted September 8, 2013.",227300,True,0
...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,2
59301,76561198312638244,Posted July 8.,362890,True,2
59302,LydiaMorley,Posted July 3.,273110,True,2
59303,LydiaMorley,Posted July 20.,730,True,2
59304,LydiaMorley,Posted July 2.,440,True,2

In [97]:
# Separamos la columna "posted" en varias columnas utilizando el método split()

posted = df["posted"].str.split(expand=True)

# Damos nombres a las nuevas columnas resultantes.
posted.columns = ["posted", "month", "day", "year"]

# Concatenamos las nuevas columnas al DataFrame original.
df = pd.concat([df, posted], axis=1)
df

,user_id,posted,item_id,recommend,sentiment_analysis,posted,month,day,year
0,76561197970982479,"Posted November 5, 2011.",1250,True,2,Posted,November,"5,",2011.
1,76561197970982479,"Posted July 15, 2011.",22200,True,2,Posted,July,"15,",2011.
2,76561197970982479,"Posted April 21, 2011.",43110,True,2,Posted,April,"21,",2011.
3,js41637,"Posted June 24, 2014.",251610,True,2,Posted,June,"24,",2014.
4,js41637,"Posted September 8, 2013.",227300,True,0,Posted,September,"8,",2013.
...,...,...,...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,2,Posted,July,10.,None
59301,76561198312638244,Posted July 8.,362890,True,2,Posted,July,8.,None
59302,LydiaMorley,Posted July 3.,273110,True,2,Posted,July,3.,None
59303,LydiaMorley,Posted July 20.,730,True,2,Posted,July,20.,None
59304,LydiaMorley,Posted July 2.,440,True,2,Posted,July,2.,None

In [99]:
# Borramos el . que quedó del "year"
df["year"] = df["year"].str.removesuffix(".")
df

,user_id,posted,item_id,recommend,sentiment_analysis,posted,month,day,year
0,76561197970982479,"Posted November 5, 2011.",1250,True,2,Posted,November,"5,",2011
1,76561197970982479,"Posted July 15, 2011.",22200,True,2,Posted,July,"15,",2011
2,76561197970982479,"Posted April 21, 2011.",43110,True,2,Posted,April,"21,",2011
3,js41637,"Posted June 24, 2014.",251610,True,2,Posted,June,"24,",2014
4,js41637,"Posted September 8, 2013.",227300,True,0,Posted,September,"8,",2013
...,...,...,...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,2,Posted,July,10.,None
59301,76561198312638244,Posted July 8.,362890,True,2,Posted,July,8.,None
59302,LydiaMorley,Posted July 3.,273110,True,2,Posted,July,3.,None
59303,LydiaMorley,Posted July 20.,730,True,2,Posted,July,20.,None
59304,LydiaMorley,Posted July 2.,440,True,2,Posted,July,2.,None

reemplazo los valores nulos de year por 2023, puesto que se hicieron comentarios relativamente el año que se tomo la base de datos y al registrar colocaba en el año actual

In [100]:
df["year"].fillna(2023, inplace=True)

In [101]:
df

,user_id,posted,item_id,recommend,sentiment_analysis,posted,month,day,year
0,76561197970982479,"Posted November 5, 2011.",1250,True,2,Posted,November,"5,",2011
1,76561197970982479,"Posted July 15, 2011.",22200,True,2,Posted,July,"15,",2011
2,76561197970982479,"Posted April 21, 2011.",43110,True,2,Posted,April,"21,",2011
3,js41637,"Posted June 24, 2014.",251610,True,2,Posted,June,"24,",2014
4,js41637,"Posted September 8, 2013.",227300,True,0,Posted,September,"8,",2013
...,...,...,...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,2,Posted,July,10.,2023
59301,76561198312638244,Posted July 8.,362890,True,2,Posted,July,8.,2023
59302,LydiaMorley,Posted July 3.,273110,True,2,Posted,July,3.,2023
59303,LydiaMorley,Posted July 20.,730,True,2,Posted,July,20.,2023
59304,LydiaMorley,Posted July 2.,440,True,2,Posted,July,2.,2023

In [102]:
#df.to_csv('reviews_posted_separated.csv', index=False)

,user_id,posted,item_id,recommend,sentiment_analysis,posted,month,day,year
0,76561197970982479,"Posted November 5, 2011.",1250,True,2,Posted,November,"5,",2011
1,76561197970982479,"Posted July 15, 2011.",22200,True,2,Posted,July,"15,",2011
2,76561197970982479,"Posted April 21, 2011.",43110,True,2,Posted,April,"21,",2011
3,js41637,"Posted June 24, 2014.",251610,True,2,Posted,June,"24,",2014
4,js41637,"Posted September 8, 2013.",227300,True,0,Posted,September,"8,",2013
...,...,...,...,...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,2,Posted,July,10.,2023
59301,76561198312638244,Posted July 8.,362890,True,2,Posted,July,8.,2023
59302,LydiaMorley,Posted July 3.,273110,True,2,Posted,July,3.,2023
59303,LydiaMorley,Posted July 20.,730,True,2,Posted,July,20.,2023
59304,LydiaMorley,Posted July 2.,440,True,2,Posted,July,2.,2023

In [103]:
# Borro las columnas que ya no necesito
df=df.drop(['posted','month','day'], axis=1)
df

                 user_id  item_id  recommend  sentiment_analysis  year
0      76561197970982479     1250       True                   2  2011
1      76561197970982479    22200       True                   2  2011
2      76561197970982479    43110       True                   2  2011
3                js41637   251610       True                   2  2014
4                js41637   227300       True                   0  2013
...                  ...      ...        ...                 ...   ...
59300  76561198312638244       70       True                   2  2023
59301  76561198312638244   362890       True                   2  2023
59302        LydiaMorley   273110       True                   2  2023
59303        LydiaMorley      730       True                   2  2023
59304        LydiaMorley      440       True                   2  2023

[59305 rows x 5 columns]

In [105]:
# cambiar el tipo de dato de la columna "year" a int64.
df['year'] = df['year'].astype('int64')

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  int64
 2   recommend           59305 non-null  bool
 3   sentiment_analysis  59305 non-null  int64
 4   year                59305 non-null  int64
dtypes: bool(1), int64(3), object(1)
memory usage: 1.9+ MB

In [107]:
df.to_csv('review.csv', index=False)